.app{
    overflow: hidden;
}
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0;
    display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    z-index: 1;


}

.header__navbar-user{
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 8px);
    right: 0;
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1 2px #ede9e9;
    display: none;
    background-color: var(--white-color);
}


.header__navbar-user-menu::before{
    content: "";
    z-index: 1;
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
    background-color: #f53e2d;
}

.header__navbar-user-item{
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    
}

.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    color: var(--text-color);

}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;

}
.header__navbar-i-user-name{
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.4rem;

}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}


.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);

}

/*Header Qr code*/

.header__qr{
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    animation: fadeIn ease-in 0.4s;
    background-color: var(--white-color);

}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.hearder__qr-dowload-img{
    height: 16px;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Header Notificaton */

.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    cursor: default;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    display: none;
}
.header__notify::before{
    content: "";
    position: absolute;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 12px;

}
.header__notify::after{
    content: "";
    display: block;
    right: 0;
    width: 90px;
    top: -16px;
    height: 20px;
    position: absolute;



}


@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);


}
.header__notify-header h3{
    color: #9999; 
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

}
.header__notify-list{
    padding-left: 0;


}
.header__notify-item{
    display: flex;

}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{

    background: rgba(238, 77, 34, 0.08 );
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}
.header__notify-img{
    width: 48px;
    object-fit: contain;

}
.header__notify-info{
    margin-left: 12px;

}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;

}
.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;

}
.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400px;
}


/* Modal */

.moda{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:none;
    animation: fadeIn linear 0.1s;

}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0  , 0, 0.3);

}
.modal__body{
    --growth-form:0.7;
    --growth-to:1s;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
    
}
.modal__inner{
    
    
}
/* authen modal */

.auth-form{
    width: 500px;
    border-radius: 2px;
    overflow: hidden;
    background-color: var(--white-color);
}

.ath-form__container{
    padding: 0 32px;

}

.auth-form__header{
    display: flex;
    padding: 0 12px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.auto-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__swich-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px var(--border-color) solid;
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 20px;
}

.auth-form__policy-text{
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;

}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
}
.auth-form__socials-icon{
    font-size: 2rem;
    
}
.auth-form__socials--facebook{
    color: var(--white-color);
    background-color:#3a5a98;
    
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 50px;
}

.auth-form__socials--google{
    padding: 0 16px;
    color: #666;
    background-color: var(--white-color);
    
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    
}
.auth-form__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #9393;
}

.auth-form__help-separate{
    display: block;
    height: 18px;
    margin: 0 16px ;
    border-left:1px solid var(--border-color);
}

.auth-form__help-forgot{
    color: var(--primary-color);
}


/* header with search */
.header-with-search{
    display: flex;
    margin: 0 8px;
    align-items: center;
    height: var(--header-with-search-height);
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__logo-img{
    
    width: 150px;
    color: var(--white-color);
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}
.header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

.header__logo{
    width: 200px;
}

.header__search{
    align-items: center;
    display: flex;
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
}
.header__cart{
    width: 150px;
    text-align: center;
}   
.header__cart-swap:hover .header__cart-list{
    display: block;
}
.header__cart-swap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;


}
.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    width: 400px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 2px 3rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
    
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 1px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-notice{
    position: absolute;
    padding: 2px 7px;
    top: -4px;
    right: -4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #f53e2d;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-list--no-cart{
    padding: 24px 0;
    
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.header__cart-no-cart-img{
    width: 60%;
    display: none;

}

.header__cart-icon{
    font-size: 2.4rem;
    margin-top: 6px;
    color: var(--white-color);
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 32vh;
    overflow-y: auto;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    border: 1px solid #e8e8e8;
    width: 42px;
    height: 42px;
    margin: 12px;
}


.header__cart-item-info{

    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.header__cart-item-name{
    flex: 1;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);

}
.header__cart-item-multiply{

    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;

}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;

}
.header__cart-item-decription{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;


}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.24rem;
}
.header__cart-item-body i{
    display: none;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #f59565dd;
}

.header__search-input-wrap{

    flex: 1;
    height: 100%;
    position: relative;
}
/* Header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-heght);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    list-style: none;
    margin: 0;
    display: none;
}
.header__sort-item{
    flex: 1;
}
.header__sort-link{
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);

}
.header__sort-item-active .header__sort-link{
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 0 16px;
    color: var(--text-color);

}

.header__search-selection{
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    border-left: 1px solid #e8e8e8;
}

.header__search-selection-label{
    font-size: 1.4rem;
    color: var(--text-color);

}
.header__search-selection-icon{
    font-size: 1.4rem;
    color: #ccc;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
    
}
.header__search-btn:hover{
    background-color: #f87a54;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% - -3px);
    width: 130px;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    animation:fadeIn ease-in 0.2s;
    box-shadow: 0 1 2px #ede9e9;
    display: none;
    z-index: 1;
    
}
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -20px;
    left: 0;

}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;

}
.header__search-option-item:first-child{
    border-top-left-radius:2px ;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #faf9f9;
}
.header__search-option-item span{
font-size: 1.4rem;
margin-left: 8px;
color: var(--text-color);
}
.header__search-option-item i{
font-size:1.2rem ;
color: var(--primary-color);
margin-left: 12px;
display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search_history{
    display: block;
}

/* search history */
.header__search_history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(148, 144, 144);
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search_history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #9999;
    font-weight: 400;

}
.header__search_history-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 ;
}
.header__search_history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search_history-item:hover{
    background-color: #fafafa;

}
.header__search_history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
    color:var(--text-color) ;
}


/* App Container */

.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
    
}
.category__heading{
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0;
    text-transform: uppercase;
}


.category-list{
    padding: 0 0 4px 0;
    list-style: none;
    
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .category-item__link{
color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    left: 8px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
    display: block;
    right: 0;
    transition: right linear 0.1s ;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* mobile category */

.mobile-category{
    display: none;

}
.mobile-category__list{
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    list-style: none;
}
.mobile-category__list::-webkit-scrollbar{
    display: none;
}
.mobile-category__item{
    flex-shrink: 0;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #3a5a98;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88cf81;
}
.mobile-category__link{
    --line-height:2rem;
text-decoration: none;
color: var(--white-color);
font-size: 1.4rem;
line-height: var(--line-height);
height: var(--line-height) * 2;
overflow: hidden;
text-align: center;
width: 110px;
display: block;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
border-radius: 5px;
font-weight: 300;
user-select: none;
-webkit-user-select: none;
padding: 0 6px;
}
/* Home Filter */
.home-filter{
    display: flex;
    padding: 12px 22px;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__btn{
    
    min-width: 90px !important;
    margin-right: 12px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;

}   
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;

}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right:1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product Item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;

}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /* background-position: center; */

}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item__price{
display: flex;

align-items: baseline;
flex-wrap: wrap;

}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;

}
.home-product-item__price-current{
font-size: 1.6rem;
color: var(--primary-color);
margin-left: 10px;


}

.home-product-item__action{
display: flex;
justify-content: space-between;
margin: 6px 10px 0;
}
.home-product-item__like{
font-size: 1.3rem;

}
i.home-product-item__like-icon-fill{
    color: #f63d30;
    display: none ;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;   
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 0.8rem;
    /* transform: scale(0.8rem); */
    /* transform-origin: right; */
    color: #d5d5d5;
    margin: -1px 0 0 auto;
    
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);

}
.home-product-item__origin{
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    
}
.home-product-item__brand{
    margin-right: auto;

}
.home-product-item__action-name{


}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-right: 4px;
    color: var(--primary-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: currentColor;
    
}
.home-product-item__favourite span{
    color: var(--white-color);

}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);

}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
}   
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.902);
    border-top-right-radius: 2px;


}
.home-product-item__sale-off-percent{
    top: -1px;
    font-weight: 600;
    color: #ee4d2d;
    font-size: 1.2rem;
    line-height: 1.3rem;

}
.home-product-item__sale-off-lable{
    display: block;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    color: rgba(255, 216, 64, 0.902);
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;

}

.home-product-pagination{
   margin: 48px 0 32px 0;
   padding-left: 0;
}

/* footer */

.footer{
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer__item-link{
    text-decoration: none;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;

}
.footer__item-link:hover{
    color: var(--primary-color);
}
.footer__item-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0 ;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height: 16px;
    

}
.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}
.footer__bottom{
    padding: 12px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #737373;
}
